body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.option-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background-color: #4facfe;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.option-btn:hover {
    background-color: #007bff;
}

#next-btn {
    margin-top: 15px;
    padding: 8px 20px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}